<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Book created</h1>
<p th:text="'Book genre, ' + ${genre} " />
<p th:text="'Book author, ' + ${author} " />
<p th:text="'Book image, ' + ${image} " />
<p th:text="'Book title, ' + ${title} " />
<p th:text="'Book subtitle, ' + ${subtitle} " />
<p th:text="'Book publisher, ' + ${publisher} " />
<p th:text="'Book year, ' + ${year} " />
<p th:text="'Book page, ' + ${page} " />
<p th:text="'Book isbn, ' + ${isbn} " />

</body>
</html>
